<div>
  <div>
    <h2 class="text-2xl">{{event.title}}</h2>
    <p class="text-md">Event posted by {{user.name}} </p>
    <p class="text-md text-green-500">Date of Event: {{date_created}}</p>
    <div class="mt-4">
    <p class="font-semibold">{{description}}</p>
    </div>
  </div>
  <div class="border-2 border-blue-200 py-2 mt-4">
  <h3 class="font-semibold" >Comments:</h3>
  {{#each comments as |comment|}}
  <div>
    <p class="text-sm">{{user.name}}:</p>
    <p class="text-md">{{comment_text}}</p>
    <p class="text-sm">{{formatDate created_at}}</p>
  </div>
  {{/each}}
  </div class="mb-1 mt-4">
  <h3 class="font-semiboldmb-1 mt-4 ">Create a comment:</h3>
  <form class="comment-form">
    <div>
      <label class="text-sm">Comment text:</label>
      <input id="comment-name" name="comment-name" />
    </div>
    <div>
      <button class="bg-blue-300" type="submit">Submit</button>
    </div>
  </form>
</div>
<script src="/js/comment.js"></script>