<section class="full-event">
  {{#each event}}
    <div class="event-card">
      <div class="event-header">
        <h3><a href="/event/{{id}}">{{title}}</a></h3>
        <div>posted by: {{User.username}}</div>
        <div>Date of event: {{event.date}}</div>
      </div>
      <div class="event-body">{{description}}</div>
    </div>
  {{/each}}
</section>